<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ilovation</title>
    <link rel="stylesheet" href="/css/app.css">
</head>
<body>
    <div class="header">
        <div class="logo">Ilovation</div>
        <nav class="nav-links">
            <a href="./app.html">Home</a>
            <a href="./about.html">About</a>
            <a href="./contact.html">Contact</a>
            <a href="./demo.html"><button type="button" class="demo">Book Event</button></a>
            <a href="./demo.html"><button type="button" class="demo">Sign Up</button></a>
        </nav>
    </div>

    <div class="landing_page">
        <div class="title">
            <h1>EVENT</h1>
            <h1>MANAGEMENT</h1>
            <h1>APPLICATION</h1>
        </div>
        
        <div class="content">
            <h3>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam vulputate
                mauris aliquet, tincidunt ligula nec, pellentesque justo. Cras et
                tortor augue. Fusce interdum in velit vitae mattis. Donec egestas,
                eros id consequat ultrices, justo velit ultricies sapien, quis ornare
                mauris tellus sed leo.
            </h3>

            <a href="./demo.html"><button>MANAGE EVENT</button></a>
        </div>
    </div>
</body>
</html>